
! --Font--
Xft.autohint:			0
Xft.lcdfilter: 		lcddefault
Xft.hintstyle:    hintslight
Xft.hinting: 			1
Xft.antialias: 		1
Xft.rgba: 				rgb

! --Color--
! special
*.foreground:   #9cc6ff
*.background:   #151515
*.cursorColor:  #9cc6ff

! black
*.color0: 			#000000
*.color8: 				#757575

! red / archive file
*.color1: 				#f0847a
*.color9: 				#cd5c5c

! green / Executeable
*.color2: 				#7af084
*.color10: 				#abf07a

##: yellow / devices
*.color3: 				#e6f07a
*.color11: 				#f0bf7a

! blue / directories
*.color4: 				#c69cf0
*.color12: 				#c69cf0

!magenta / graphic image file
*.color5: 				#bf7af0
*.color13: 				#f07ae6

! cyan / Symlinks
*.color6: 				#7ae6f0
*.color14: 				#7aabf0

! white
*.color7: 				#ecf0f1
*.color15: 				#ecf0f1


! --uRxvt--
URxvt.perl-ext-common:  			clipboard, resize-font, default, matcher
URxvt.clipboard.autocopy: 		true
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
Rxvt.url-select.underline:    true
URxvt.url-launcher: 					/usr/bin/firefox
URxvt.matcher.button: 				1
URxvt.tabbed.tabbar-fg: 			2
URxvt.tabbed.tabbar-bg: 			0
URxvt.tabbed.tab-fg: 					3
URxvt.tabbed.tab-bg: 					0
URxvt*scrollWithBuffer: 			true
URxvt.font:										xft:Hack:pixelsize=14	
